body{
    position: relative;
}
.initial_container{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../../assets/img/background.png);
    background-position: center;
    background-attachment: fixed;    
}

section{    
    display: flex;
    flex-direction: column;
    padding: 6.25rem 1rem;  
    align-items: flex-start;   
}

main{
    position: relative;
}

.container_vagas{
    padding: 2.625rem 0;    
}

.container_vagas > ul{
    margin-top: 2.75rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.aside{
    margin: 0;
    margin-bottom: 2rem;
    background-color: var(--color-grey-6);    
}

.aside > h2{
    padding: 2rem;
}

.aside > p{
    padding: 2rem;
}