.card_job{
    position: relative;
    background-color: var(--color-grey-6);
    padding: 2.375rem;
    border-radius: var(--radius-default);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
.container_text{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.container_modalities{
    background-color: var(--color-grey-3);
    height: 1.875rem;
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
    border-radius: var(--radius-default);
}

.card_job_select{
    position: relative;
    background-color: var(--color-grey-6);
    padding: 2rem;
    padding-right: 5.313rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border-bottom: 2px solid var(--color-grey-5);
}
.card_job_select:hover{
    background-color: var(--color-grey-4);
}